<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'lab-10:dashboard' %}">Home</a>
    </div>
  </div>
</nav>
