{% extends "lab_8/layout/base.html" %}

{% block content %}
<style>
    button {
        border-radius : 8px;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    .element {
        position: relative;
        top: 50%;
        transform: translateY(60%);
        text-align: center;
    }
</style>
<body style="background:pink" >
    <div align="center">
    <h1 style="color:">SILHOUETTE</h1>
       <button onclick="facebookLogin()">Login with Facebook</button>
    </div>
</body>

{% endblock %}
