<div class="panel panel-info">
    <div class="panel-heading">
        <h2> Daftar Opticalcard : {{ optical | length}} </h2>
        <a href="{% url 'lab-9:clear_session_item' 'optical' %}" class="btn btn-danger" onclick="return confirm('Reset data?')">
            Reset Favorite Opticalcard
        </a>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <th> No. </th>
            <th> Name </th>
            <th> Price </th>
            <th> Amount </th>
            <th> Action </th>

            </thead>
            <tbody>
            {% for opticalcard in optical %}
            <tr>
                <td> {{ forloop.counter }}</td>
                <td> {{ opticalcard.name }}</td>
                <td> {{ opticalcard.price }}</td>
                <td> {{ opticalcard.quantity }}</td>
                <td>
                    {% if not opticalcard.id in fav_optic %}
                    <a href="{% url 'lab-9:add_session_item' 'optical' opticalcard.id %}" class="btn btn-primary"> Favorite </a>
                    {% elif opticalcard.id in fav_optic %}
                    <a href="{%url 'lab-9:del_session_item' 'optical' opticalcard.id %}" class="btn btn-primary"> Delete from favorite </a>
                    {% else %}
                    <a href="{% url 'lab-9:add_session_item' 'optical' opticalcard.id %}" class="btn btn-primary"> Favorite </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
