<div class="panel panel-info">
    <div class="panel-heading">
        <h2> Daftar Soundcard : {{ soundcard | length}} </h2>
        <a href="{% url 'lab-9:clear_session_item' 'soundcard' %}" class="btn btn-danger" onclick="return confirm('Reset data?')">
            Reset Favorite Soundcard
        </a>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <th> No. </th>
            <th> Name </th>
            <th> Price </th>
            <th> Amount </th>
            <th> Action </th>

            </thead>
            <tbody>
            {% for card in soundcard %}
            <tr>
                <td> {{ forloop.counter }}</td>
                <td> {{ card.name }}</td>
                <td> {{ card.price }}</td>
                <td> {{ card.quantity }}</td>
                <td>
                    {% if not card.id in fav_card %}
                    <a href="{% url 'lab-9:add_session_item' 'soundcard' card.id %}" class="btn btn-primary"> Favorite </a>
                    {% elif card.id in fav_card %}
                    <a href="{%url 'lab-9:del_session_item' 'soundcard' card.id %}" class="btn btn-primary"> Delete from favorite </a>
                    {% else %}
                    <a href="{% url 'lab-9:add_session_item' 'soundcard' card.id %}" class="btn btn-primary"> Favorite </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
